.nomePalestra {
	color: black;
}

.descricaoPalestra {
	color: black;
}

.imagemPatrocinador {
	max-width: 150px;
	max-height: auto;
}

.imagemPalestrante {
	width: 110px;
	height: auto;
	max-width: 200px;
	max-height: auto;
	border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.07);
    transition: all 0.3s ease-out 0s;
}

.div-imagem-palestrante{
	width: 20%;
}

.dados-palestrante{
	clear: left;
}

